# ここにmongoDBへのコネクション情報を入れる
MONGODB_URI = "mongodb://メールアドレス:パスワード@ac-gscccgo-shard-00-00.skiiex8.mongodb.net:27017,ac-gscccgo-shard-00-01.skiiex8.mongodb.net:27017,ac-gscccgo-shard-00-02.skiiex8.mongodb.net:27017/?ssl=true&replicaSet=atlas-6u8aq5-shard-0&authSource=admin&appName=データベース名";
